@model LDInsurance.Models.Report

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Account)</th>
                            <td>@Html.DisplayFor(model => model.Account.Name)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Vehicle)</th>
                            <td>@Html.DisplayFor(model => model.Vehicle.ID)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Location)</th>
                            <td>@Html.DisplayFor(model => model.Location)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Date)</th>
                            <td>@Html.DisplayFor(model => model.Date)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Rate)</th>
                            <td>@Html.DisplayFor(model => model.Rate)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.ClaimAmount)</th>
                            <td>@Html.DisplayFor(model => model.ClaimAmount)</td>
                        </tr>
                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Status)</th>
                            <td>@Html.DisplayFor(model => model.Status)</td>
                        </tr>
                    </tbody>
                </table>
                <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Check</a>
                <a asp-action="Index" class="btn btn-light">
                    <span class="text">Cancel</span>
                </a>

            </div>
        </div>
    </div>
</div>
