@model IEnumerable<LDInsurance.Models.Account>

@{
    ViewData["Title"] = "Index";
    string name = ViewBag.CurrentUser;
}

<div class="container-fluid" style="height:610px">
    @foreach (var item in Model)
    {
    <div class="row">
        <div class="col-2">
            <nav class="nav flex-column">
                <!--..................Menu.....................-->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-controller="Accounts" asp-action="Index" asp-route-id="@item.ID" style="color:000055"><i class="far fa-address-card"></i> Information</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Vehicles" asp-action="Index" asp-route-id="@item.ID" style="color:000055"><i class="fa fa-car"></i> Vehicles</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Reports" asp-action="Index" asp-route-id="@item.ID" style="color:000055"><i class="fas fa-file-alt"></i> Reports</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="InsuranceRegistrations" asp-action="Index" asp-route-id="@item.ID" style="color:000055"><i class="fas fa-clipboard-check"></i> Insurances</a></li>
                    <li class="nav-item"><a href="#" data-toggle="modal" data-target="#logoutModal" class="nav-link" style="color:000055"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-10">
            <div class="container-fluid" style="height:610px; font-size:20px">
                <div>
                    <h3 style="color: green">Account:</h3>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Username:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Username)
                        </dd>
                        <dt class="col-sm-2">
                            Password:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Password)
                        </dd>
                    </dl>
                    <h3 style="color: green">Information: <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-edit"></i></a></h3>
                    <dl class="row">
                        <dt class="col-sm-2">
                            Full Name:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Name)
                        </dd>
                        <dt class="col-sm-2">
                            Phone Number:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Phone)
                        </dd>
                        <dt class="col-sm-2">
                            SSN:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.SSN)
                        </dd>
                    </dl>
                </div>
            </div>

            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">You want to logout ?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Wish you a good day ♥</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" style="background-color: greenyellow; border-color:greenyellow; color:green" asp-area="" asp-controller="Accounts" asp-action="Logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>