@model LDInsurance.Models.Account

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    
    <div class="container-fluid">
        <div class="col-md-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Delete</h4>
                    <p class="card-description">Are you sure you want to delete this?</p>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
                                <td>@Html.DisplayFor(model => model.Name)</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Phone)</th>
                                <td>@Html.DisplayFor(model => model.Phone)</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.SSN)</th>
                                <td>@Html.DisplayFor(model => model.SSN)</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Username)</th>
                                <td>@Html.DisplayFor(model => model.Username)</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Password)</th>
                                <td>@Html.DisplayFor(model => model.Password)</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.IsAdmin)</th>
                                <td>@Html.DisplayFor(model => model.IsAdmin)</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Status)</th>
                                <td>@Html.DisplayFor(model => model.Status)</td>
                            </tr>
                        </tbody>
                    </table>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ID" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-light">
                            <span class="text">Cancel</span>
                        </a>
                    </form>

                </div>
            </div>
        </div>
    </div>

