@model LDInsurance.Models.Insurance

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid" style="height:610px"   >
    <div>
        <table class="table" style="border: 1px solid; border-color: green">
            <thead style="border: 1px solid; background-color: greenyellow" >
                <tr>
                    <th>
                        Insurance Type
                    </th>
                    <th>
                        Vehicle Type
                    </th>
                    <th>
                        Insurance Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Period
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.InsuranceType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleType.Type) @Html.DisplayFor(model => model.VehicleType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Price) VNĐ
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Period) Months
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
